{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}

<!-- Hero Section -->

<div class="text-center py-5">

    <h1 class="display-4 fw-bold text-primary">

        Online Examination Platform

    </h1>

    <p class="lead mt-3">

        Secure • Fast • Easy • Reliable

    </p>

    <div class="mt-4">

        {% if user.is_authenticated %}

        <a href="{% url 'dashboard' %}" class="btn btn-primary btn-lg">

            Go To Dashboard

        </a>

        {% else %}

        <a href="{% url 'register' %}" class="btn btn-success btn-lg me-3">

            Register

        </a>

        <a href="{% url 'login' %}" class="btn btn-primary btn-lg">

            Login

        </a>

        {% endif %}

    </div>

</div>

<hr>

<!-- Features -->

<div class="row text-center mt-5">

    <div class="col-md-4">

        <div class="card shadow p-4">

            <h2>📚</h2>

            <h4>Online Exams</h4>

            <p>

                Attempt exams anytime from anywhere.

            </p>

        </div>

    </div>

    <div class="col-md-4">

        <div class="card shadow p-4">

            <h2>⚡</h2>

            <h4>Instant Result</h4>

            <p>

                Results generated immediately after submission.

            </p>

        </div>

    </div>

    <div class="col-md-4">

        <div class="card shadow p-4">

            <h2>🏆</h2>

            <h4>Certificate</h4>

            <p>

                Download PDF certificate after passing the exam.

            </p>

        </div>

    </div>

</div>

{% endblock %}