{% extends 'base.html' %}

{% block title %}
Login
{% endblock %}

{% block content %}

<div class="row justify-content-center mt-5">

    <div class="col-md-5">

        <div class="card shadow">

            <div class="card-header bg-success text-white text-center">
                <h3>Student Login</h3>
            </div>

            <div class="card-body">

                <form method="POST">

                    {% csrf_token %}

                    <div class="mb-3">
                        <label class="form-label">Username</label>
                        <input type="text" class="form-control" name="username" required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Password</label>
                        <input type="password" class="form-control" name="password" required>
                    </div>

                    <button type="submit" class="btn btn-success w-100">
                        Login
                    </button>

                </form>

            </div>

        </div>

    </div>

</div>

{% endblock %}